<header>
    <!-- Navbar -->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo"> <a href="#"> #Давай попробуем: JavaScript </a> </div>
                <nav>
                    <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>Portfolio</a></li>
                        <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>Info</a></li>
                        <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>About</a></li>
                        <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>Contacts</a></li>
                    </ul>
                </nav>
                <button class="burger">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>