<form class="steps__form">
    <div class="steps__numbers">
        <div class="progress">
            <div class="progress__success"></div>
        </div>
        <div class="step__number"><span>1</span></div>
        <div class="step__number"><span>2</span></div>
        <div class="step__number"><span>3</span></div>
        <div class="step__number"><span>4</span></div>
        <div class="step__number"><span>5</span></div>
        <div class="step__number"><span>6</span></div>
    </div>


    <div class="steps">
        <div class="form__step">Form step 1</div>
        <div class="form__step">Form step 2</div>
        <div class="form__step">Form step 3</div>
        <div class="form__step">Form step 4</div>
        <div class="form__step">Form step 5</div>
        <div class="form__step">Form step 6</div>
    </div>


    <div class="step__buttons">
        <button class="button prev__step">PREV</button>
        <button class="button next__step">NEXT</button>
    </div>
</form>