.about {
  @media (max-width: $breakpoint768){
    padding-bottom: 50px;
  }
  padding-bottom: 108px;
  &__container {
    max-width: 1520px;
  }

  &__wrapper {}

  &__subtitle {}

  &__title {}

  &__items {
    @media (max-width: $breakpoint1450){
      gap: 60px;
    }
    @media (max-width: $breakpoint992){
      flex-wrap: wrap;
      margin-top: 60px;
    }
    margin-top: 120px;
    display: flex;
    gap: 93px;
  }

  &__item {
    @media (max-width: $breakpoint992){
      justify-content: center;
    }
    flex: 1 1 40%;
    img {
      @media (max-width: $breakpoint1450){
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    &:last-child {
      @media (max-width: $breakpoint992){
        display: flex;
      }
    }
    &:first-child {     
      flex: 1 1 60%;
      // align-items: center;
      display: flex;
    }
  }

  &__list {}

  &__icon {
    @media (max-width: $breakpoint480){
      margin-bottom: 35px;
    }
    margin-bottom: 70px;
    position: relative;
    &:first-child {
      &:before {
      @media (max-width: $breakpoint600){
        right: 0;
        left: auto;
      }  
        position: absolute;
        content: "01";
        left: -45px;
        top: 5px;
        font-family: $font3;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #9B9B9B;
      }
    }
    &:nth-child(2) {
      &:before {
        @media (max-width: $breakpoint600) {
          right: 0;
          left: auto;
        }
        position: absolute;
        content: "02";
        left: -45px;
        top: 5px;
        font-family: $font3;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #9B9B9B;
      }
    }  
    &:last-child {
      &:before {
        @media (max-width: $breakpoint600) {
          right: 0;
          left: auto;
        }
        position: absolute;
        content: "03";
        left: -45px;
        top: 5px;
        font-family: $font3;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #9B9B9B;
      }
    }
  }



  &__icon-title {
    font-family: $font2;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #3D3D3D;
    margin-bottom: 20px;
  }

  &__icon-text {
    font-family: $font3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #6D6D6D;
    max-width: 441px;
  }
}