@font-face {
  font-family: 'ManropeBold';
  src: url('../fonts/manropebold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ManropeRegular';
  src: url('../fonts/manroperegular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/MontserratRegular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/MontserratBold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/MontserratMedium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/MontserratSemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/RobotoLight.woff2');
  font-weight: 900;
  font-style: normal;
}