// ========================= [ Header styles ] =========================
.swiper {}

.section {
  &__header-swiper {}
}

.swiper-wrapper {}

.section__header-slide {
  min-height: 100vh;
  background-image: url(../img/header-bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__subtitle {
    @media (max-width: $breakpoint768){
      font-size: 24px;
    }
    @media (max-width: $breakpoint600){
      font-size: 20px;
      line-height: 17px;
    }
    @media (max-width: $breakpoint480){
      font-size: 18px;
    }
    font-family: $font3;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.55em;
      color: rgba(255, 255, 255, 0.7);
  }

  &__title {
    @media (max-width: $breakpoint1450){
      font-size: 200px;
      line-height: 225px;
    }
    @media (max-width: $breakpoint992){
      font-size: 150px;
    }
    @media (max-width: $breakpoint768){
      font-size: 120px;
      line-height: 135px;
    }
    @media (max-width: $breakpoint600){
      font-size: 90px;
      line-height: 105px;
    }
    @media (max-width: $breakpoint480){
          font-size: 80px;
          line-height: 92px;
    }
    font-family: $font2;
    font-style: normal;
      font-weight: 700;
      font-size: 250px;
      line-height: 305px;
      background: linear-gradient(13deg, #000 -3.87%, rgba(255, 255, 255, 0) 36.89%), #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  &__locations {
    @media (max-width: $breakpoint992){
      flex-wrap: wrap;
      justify-content: center;
      gap: 17px;
      bottom: 50px;
    }
    @media (max-width: $breakpoint600){
      gap: 10px;
    }
    @media (max-width: $breakpoint480){
      bottom: 80px;
    }
    position: absolute;
    bottom: 80px;
    display: flex;
    gap: 27px;
  }
}

.locations {
  &__item {
    @media (max-width: $breakpoint1450){
      padding: 33px 100px 33px 20px;
      gap: 20px;
    }
    @media (max-width: $breakpoint992){
      padding: 20px 100px 20px 20px;
      max-width: 330px;
    }
    @media (max-width: $breakpoint768){
      max-width: 250px;
      gap: 10px;
    }
    @media (max-width: $breakpoint600){
      max-width: 200px;
      padding: 20px 100px 20px 10px;
    }
    @media (max-width: $breakpoint480){
      max-width: 150px;
      padding: 10px;
      gap: 5px;
    }
    display: flex;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 33px 206px 33px 33px;
    max-width: 417px;
    width: 100%;
    img {
      @media (max-width: $breakpoint480){
        max-width: 25px;
      }
    }
  }

  &__info {
  }

  &__title {
    @media (max-width: $breakpoint768){
      font-size: 18px;
    }
    @media (max-width: $breakpoint600){
      font-size: 16px;
    }
    @media (max-width: $breakpoint480){
      font-size: 13px;
      margin-bottom: 0;
    }
    font-family: $font2;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 4px;
  }

  &__text {
    @media (max-width: $breakpoint768){
      font-size: 14px;
    }
    @media (max-width: $breakpoint600){
      font-size: 12px;
    }
    font-family: $font4;
    font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      opacity: 0.4;
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: #686B6F;
  width: 16px;
  height: 10px;
  position: absolute;
  right: 80px;
  &:hover {
    background-color: #FFE145;
  }
  @media (max-width: $breakpoint992){
   right: 0; 
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  color: #686B6F;
    width: 16px;
    height: 10px;
    position: absolute;
    left: 80px;
    @media (max-width: $breakpoint992){
      left: 0;
    }
}

.swiper-pagination-total {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.3;
  // right: 50px;
  // position: absolute;
}

.swiper-pagination-current {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  // right: 93px;
  // position: absolute;
}

.section__header-slide-pagination {
  right: 50px;
  bottom: 80px;
  position: absolute;
}


.swiper-button-prev {
}

.swiper-button-next {
}

.swiper-scrollbar {}

  

.header {
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    position: relative;
}


.logo {
  img {
    margin-right: 11px;
  }
    
    a {
      display: flex;
      align-items: center;
      color: white;
    }
}

.header {
  &__menu {
    @media (max-width: $breakpoint992){
      gap: 40px;
    }
    @media (max-width: $breakpoint768){
      display: none;
    }
    display: flex;
    gap: 65px;
  }

  &__menu-item {}
}

.menu-item {
  &__link {
    color: #FFFFFF;
    &:hover {
        color: #FFE145;
        transition: .3s ease;
        transform: scale(1.2);
      }
  }
}



// ========================== [ Menu styles ] ==========================
.menu {
    display: flex;
    gap: 30px;

    // .menu__item
    &__item {
        display: flex;
        position: relative;
    }

    // .menu__item-link
    &__item-link {
        color: white;
        display: flex;
        position: relative;
        transition: 0.5s color;
        font-size: 30px;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;

            // Comment if you need border animation
            display: none;
        }
        &:hover {
            color: #FFE145;
            &:after {
                transform: scale(1.1);
            }
        }
    }

    // Mobile menu styles
    // @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: rgba(6, 6, 6, 0.974);
        // background: $greyColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;
        }
    // }
}

// ========================= [ Burger styles ] =========================
.burger {
    background: transparent;
    z-index: 10;
        display: flex;
        position: relative;
        height: 22px;
        width: 35px;

        &.active {
            &:before {
                border-radius: 1.42857px;
                background: $burgerColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                max-width: 28.64px;
                top: 8px;
            }

            &:after {
                border-radius: 1.42857px;
                background: $burgerColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                right: auto;
            }

            & span {
                border-radius: 1.42857px;
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 3.23px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            border-radius: 1.42857px;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
            max-width: 28.64px;
        }

        span {
            position: absolute;
            height: 3.23px;
            top: 9px;
            right: 0;
            max-width: 31.61px;
            width: 100%;
            background: $burgerColor;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            border-radius: 1.42857px;
        }
}

.header__container {
  position: relative;
}

.aside {
  position: absolute;
  left: 0;
  top: 80px;
  // bottom: 80px
  max-width: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  &__social {

    // display: flex;
    // flex-direction: column;
    // gap: 30px;
    img {
      max-width: 11px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    opacity: 0.6;
    transform: rotate(-90.49deg);
    min-width: 150px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 38px;
      height: 3px;
      background-image: url(../img/arrow-bottom.svg);
      background-size: cover;
      object-fit: cover;
      max-width: 100%;
      bottom: 0;
    }

    // img {
    //   transform: rotate(90deg);
    // }

    // a {
    //   font-style: normal;
    //   font-weight: 600;
    //   font-size: 14px;
    //   line-height: 17px;
    //   letter-spacing: 0.1em;
    //   color: #FFFFFF;
    //   opacity: 0.6;
    //   transform: rotate(-90.49deg);
    //   max-width: 150px;
    // }
  }
}
