.hotels {
  @media (max-width: $breakpoint768){
    padding-top: 50px;
  }
  padding-top: 108px;
  padding-bottom: 57px;
  background: #F4F4F4;
  &__subtitle {}

  &__title {}

  &__wrapper {}

  &__top {}

  &__bottom {
  }
  &__btn {
    @media (max-width: $breakpoint1200){
      padding: 27px 40px;
    }
    @media (max-width: $breakpoint768){
      width: 100%;
    }
    padding: 27px 79px;
    background: #3D3D3D;
    border-radius: 5px;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 5px;
  }

  &__city {
    @media (max-width: $breakpoint768){
      max-width: none;
    }
    display: flex;
    width: 100%;
    max-width: 321px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    font-family: $font3;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 27px 10px 27px 22px;
  }

  &__place {
    @media (max-width: $breakpoint768){
      max-width: none;
    }
    display: flex;
    width: 100%;
    max-width: 321px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    font-family: $font3;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 27px 10px 27px 22px;
  }

  &__option {
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    font-family: $font3;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    padding-left: 10px;
  }
}

.top {
  @media (max-width: $breakpoint768){
   margin-bottom: 50px; 
   margin-top: 50px;
  }
  margin-bottom: 90px;
  margin-top: 95px;
  &__wrapper {
    @media (max-width: $breakpoint992){
      flex-wrap: wrap;
      justify-content: center;
    }
    display: flex;
    gap: 36px;
  }

  &__item {
    @media (max-width: $breakpoint992){
      flex: 1 1 40%;
    }
    flex: 1 1 30%;
    img {
      @media (max-width: $breakpoint992){
        width: 100%;
      }
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    margin-top: 11px;
    max-width: 267px;
  }

  &__title {
    @media (max-width: $breakpoint1200){
      font-size: 24px;
    }
    font-family: $font2;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
  }

  &__price {
    font-family: $font3;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #959595;
  }

  &__form {}
}




.form {
  @media (max-width: $breakpoint1200){
    gap: 60px;
  }
  @media (max-width: $breakpoint992){
    gap: 20px;
  }
  @media (max-width: $breakpoint768){
    flex-wrap: wrap;
    justify-content: center;
  }
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 114px;
  // width: 100%;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  // padding-bottom: 11px;
  color: #9B9B9B;
  width: 100%;
}

.calendar {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 22px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  font-family: $font3;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #4E4E4E;
  max-height: 75px;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: transparent;
  &::placeholder {
    color: #4E4E4E;
  }
}

input {
  display: flex;
  margin-top: 11px;
}

select {
  margin-top: 11px;
}

.rating {
  position: relative;
  font-size: 40px;
  display: inline-block;

  &:before {
    content: "★★★★★";
    display: block;
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #C4C4C4;

    &:before {
      content: "★";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}

.rating {
  position: relative;
  font-size: 30px;
  display: inline-block;

  &:before {
    content: "★★★★★";
    display: block;
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #C4C4C4;

    &:before {
      content: "★";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}

.rating__item:checked,
.rating__item:checked~.rating__label {
  color: #FF9921;
}

.rating__label:hover,
.rating__label:hover~.rating__label,
.rating__label:checked~.rating__label:hover {
  color: #FF9921;
}

.rating2 {
  position: relative;
  font-size: 30px;
  display: inline-block;

  &:before {
    content: "★★★★★";
    display: block;
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #C4C4C4;

    &:before {
      content: "★";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}

.rating2__item:checked,
.rating2__item:checked~.rating2__label {
  color: #FF9921;
}

.rating2__label:hover,
.rating2__label:hover~.rating2__label,
.rating2__label:checked~.rating2__label:hover {
  color: #FF9921;
}

.rating3 {
  position: relative;
  font-size: 30px;
  display: inline-block;

  &:before {
    content: "★★★★★";
    display: block;
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #C4C4C4;

    &:before {
      content: "★";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}

.rating3__item:checked,
.rating3__item:checked~.rating3__label {
  color: #FF9921;
}

.rating3__label:hover,
.rating3__label:hover~.rating3__label,
.rating3__label:checked~.rating3__label:hover {
  color: #FF9921;
}