.partners {
  @media (max-width: $breakpoint992){
    padding-bottom: 90px;
    padding-top: 57px;
  }
  padding-bottom: 188px;
  padding-top: 114px;
  &__wrapper {
  }

  &__subtitle {}

  &__title {}

  &__companies {
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.companies {
  @media (max-width: $breakpoint768){
    margin-top: 20px;
  }
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // gap: 130px;  
  &__item {
    @media (max-width: $breakpoint768){
      flex: 0 0 45%;
    }
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}