// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1758;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint600: 599.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #3F4255;
$subtitleColor: #474747;
$titleColor: #2D2D2D;
$greyColor: #9093A6;
$yellowColor: #FFE145;
// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #fff;
$burgerActiveColor: #3F4255;

// Fonts
$fontMain: 'MontserratSemiBold';
$font2: 'MontserratBold';
$font3: 'MontserratMedium';
$font4: 'ManropeRegular';
$font5: 'MontserratRegular';
$font6: 'RobotoLight';
$font7: 'ManropeBold';
$font8: 'RobotoBlack';