<!-- Accordion -->
<div class="accordion">
    <div class="accordion__item">
        <div class="accordion__item-trigger">
            <div class="trigger__text">Аккордеон триггер</div>
            <div class="trigger__img">
                <span class="trigger__line-1"></span>
                <span class="trigger__line-2"></span>
            </div>
        </div>
        <div class="accordion__item-content">
            <div class="content__text">Какой-то рандомный текст для аккордеона</div>
        </div>
    </div>

    <div class="accordion__item">
        <div class="accordion__item-trigger">
            <div class="trigger__text">Аккордеон триггер</div>
            <div class="trigger__img">
                <span class="trigger__line-1"></span>
                <span class="trigger__line-2"></span>
            </div>
        </div>
        <div class="accordion__item-content">
            <div class="content__text">Какой-то рандомный текст для аккордеона</div>
        </div>
    </div>

    <div class="accordion__item">
        <div class="accordion__item-trigger">
            <div class="trigger__text">Аккордеон триггер</div>
            <div class="trigger__img">
                <span class="trigger__line-1"></span>
                <span class="trigger__line-2"></span>
            </div>
        </div>
        <div class="accordion__item-content">
            <div class="content__text">Какой-то рандомный текст для аккордеона</div>
        </div>
    </div>
</div>